<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:fragment="header">
<header role="header">
    <div class="container">

        <!-- logo -->

<!--        <h1> <a th:href="@{/}" title="avana LLC"><img th:src="@{http://img.winterchen.com/BF6AC5E5-C8D7-4841-B3ED-9D898586D5FF-9703-0000073B1BF8A7F8_tmp.PNG}" style="width: 66px;" title="avana LLC" alt="avana LLC"/></a> </h1>-->
        <h1> <a th:href="@{/}" title="avana LLC"><img th:src="@{https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1576918635258&di=68ffdbc92149e1fb4b0b9690247299f0&imgtype=0&src=http%3A%2F%2Fi3.sinaimg.cn%2FIT%2Fh%2F2009-07-16%2F1247676225_WXktpq.jpg
}" style="width: 66px;" title="avana LLC" alt="avana LLC"/></a> </h1>

        <!-- logo -->

        <!-- nav -->

        <nav role="header-nav" class="navy">
            <ul>
                <li th:class="${active == 'work' ? 'nav-active':''}"><a th:href="@{/}" title="Work">Work</a></li>
                <li th:class="${active == 'about' ? 'nav-active':''}"><a  th:href="@{/about}" title="About">About</a></li>
                <li th:class="${active == 'blog' ? 'nav-active':''}"><a th:href="@{/blog/index}" title="Blog">Blog</a></li>
            </ul>
        </nav>

        <!-- nav -->

    </div>
</header>
</html>