<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='设备管理',active='hardware'">
<header th:replace="admin/header::headerFragment(${title},${active})">
</header>
<body class="fixed-left">
<div id="wrapper">
    <div th:replace="admin/header::header-body"></div>
    <div class="content-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12" style="margin-bottom: 12px">
                        <div class="col-md-12">
                            <!-- 导航栏-->
                            <nav class="navbar navbar-default">
                                <div class="container-fluid">
                                    <!-- Brand and toggle get grouped for better mobile display -->

                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="col-md-offset-12 collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav">
                                            <li><a href="#">硬件管理</a></li>
                                            <li><a th:href="@{/advance}">服务器</a></li>
                                            <li><a href="#">网络设备</a></li>
                                            <li><a href="#">存储设备</a></li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 其他操作 <span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="javascript:void(0)" th:onclick="'exportdata();'"
                                                           class="btn btn-danger btn-sm waves-effect waves-light m-b-5"><i
                                                            class="fa fa-trash-o"></i>导出数据（Excel）</a></li>
                                                    <li><a href="#">Another action</a></li>
                                                    <li><a href="#">Something else here</a></li>
                                                    <li role="separator" class="divider"></li>
                                                    <li><a href="#">Separated link</a></li>
                                                    <li role="separator" class="divider"></li>
                                                    <li><a href="#">One more separated link</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <form id="searchForm" class="navbar-form navbar-right" style="margin-top: 15px">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Search" id="param" >
                                            </div>
                                            <button id="search-btn" type="button"  class="btn btn-default">搜索</button>
                                        </form>


                                    </div><!-- /.navbar-collapse -->
                                </div><!-- /.container-fluid -->
                            </nav>
                        </div>
                    </div>




                    <div class="col-md-12" style="overflow: auto">
                        <table class="table table-striped table-bordered" id="servertable">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th width="22%">硬件名</th>
                                <th width="5%">数据中心</th>
                                <th width="10%">管理IP</th>
                                <th width="10%">序列号</th>
                                <th>用途</th>
                                <th>部门</th>
                                <th>地区</th>
                                <th>位置</th>
                                <th width="15%">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="server : ${physicServers.list}">
                                <tr th:cid="${server.id}">
                                    <td><th:block th:text="${server.id}"/></td>
                                    <td>
                                        <a th:href="@{'/admin/hardware/profile/'+${server.id}}" th:text="${server.name}"></a>
                                    </td>
                                    <td>
                                        <th:block th:if="${server.datacenter == 'B9企业'}">
                                            <span class="label label-success">B9企业</span>
                                        </th:block>
                                        <th:block th:if="${server.datacenter == 'B9互联网'}">
                                            <span class="label label-purple">B9互联网</span>
                                        </th:block>
                                    </td>
                                    <td><th:block th:text="${server.mgmtIp}"/></td>
                                    <td><th:block th:text="${server.serialNumber}"/></td>
                                    <td><th:block th:text="${server.type}"/></td>
                                    <td>
                                        <th:block th:if="${server.department == '基础设施部'}">
                                            <span class="label label-success">基础设施部</span>
                                        </th:block>
                                        <th:block th:if="${server.department == '信息安全B部' }">
                                            <span class="label label-default">信息安全B部</span>
                                        </th:block>
                                        <th:block th:if="${server.department == '系统运维部' }">
                                            <span class="label label-default">系统运维部</span>
                                        </th:block>
                                        <th:block th:if="${server.department == '技术平台部' }">
                                            <span class="label label-primary">技术平台部</span>
                                        </th:block>
                                        <th:block th:if="${server.department == '*' }">
                                            <span class="label label-pink">未知部门</span>
                                        </th:block>
                                    </td>
                                    <td><th:block th:text="${server.area}"/></td>
                                    <td><th:block th:text="${server.position}"/></td>
                                    <td>
                                        <a  th:href="@{'/admin/hardware/profile/'+${server.id}}"  class="btn btn-primary btn-sm waves-effect waves-light m-b-5">
                                            <i class="fa fa-edit"></i> <span>编辑</span></a>
                                        <a href="javascript:void(0)" th:onclick="'delPost('+${server.id}+');'"
                                           class="btn btn-danger btn-sm waves-effect waves-light m-b-5"><i
                                                class="fa fa-trash-o"></i> <span>删除</span></a>
                                        <a th:href="@{'/admin/hardware/profile/'+${server.id}}" class="btn btn-warning btn-sm waves-effect waves-light m-b-5">
                                            <i class="fa fa-rocket"></i> <span>预览</span></a>
                                    </td>
                                </tr>
                            </th:block>

                            </tbody>
                        </table>
                        <div th:replace="comm/macros :: pageAdminNav(${physicServers})"></div>
                    </div>
                    <!-- 模态框示例（Modal） -->
                    <div class="col-xl-8 col-lg-7">
                        <div class="myForm">
                            <form th:action="@{/admin/hardware/modify}" th:method="post">
                                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label for="id">id:</label>
                                                    <input  value="" type="number" class="form-control" id="id" name="id" th:value="${id}"/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="name">name:</label>
                                                    <input value="" type="text" class="form-control" id="name" name="name" th:value="${name}"/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="area">area:</label>
                                                    <input value="" type="text" class="form-control" id="area" name="area" th:value="${area}"/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="datacenter">datacenter:</label>
                                                    <input value="" type="text" class="form-control" id="datacenter" name="datacenter" th:value="${datacenter}"/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="department">department:</label>
                                                    <input value="" type="text" class="form-control" id="department" name="department" th:value="${department}"/>
                                                </div>


                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                                <input type="submit" class="btn btn-primary" value="save"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div th:replace="admin/footer :: footer-content"></div>
            </div>
        </div>
    </div>
</div>
<div th:replace="admin/footer :: footer"></div>
<script type="text/javascript">
    /*<![CDATA[*/
    var tale = new $.tale();
    function delPost(id) {
        tale.alertConfirm({
            title:'确定删除该服务器吗?',
            then: function () {
                tale.post({
                    url : '/admin/hardware/delete',
                    data: {id: id},
                    success: function (result) {
                        if(result && result.code == 'success'){
                            tale.alertOkAndReload('服务器删除成功');
                        } else {
                            tale.alertError(result.msg || '服务器删除失败');
                        }
                    }
                });
            }
        });
    }



    $('#search-btn').click(function () {
        var param1 = $('#searchForm #param').val();
        if (param1 && param1 != ''){
            tale.post({
                url: '/admin/hardware/search',
                data: {param:param1}
            });
        }
    });




    <!-- EDIT modal-->
    function updatePhysicServer(id) {
        tale.alertConfirm({
            title: '确定修改服务器参数吗?',
            then: function () {
                tale.post({
                    url: '/admin/hardware/modify',
                    data: {id: id, name: name, area:area, datacenter:datacenter, department:department},
                    success: function (result) {
                        if (result && result.code == 'success') {
                            tale.alertOkAndReload('服务器信息修改成功');
                        } else {
                            tale.alertError(result.msg || '服务器信息修改失败');
                        }
                    }
                });
            }
        });
    }

    // 导出数据到Excel中
    function exportdata() {
        tale.alertConfirm({
            title:'确定导出该服务器吗?',
            then: function () {
                tale.post({
                    url : '/admin/hardware/exportToExcel',
                    success: function (result) {
                        if(result && result.code == 'success'){
                            tale.alertOkAndReload('服务器数据导出成功');
                        } else {
                            tale.alertError(result.msg || '服务器数据导出失败');
                        }
                    }
                });
            }
        });
    }



</script>


</body>
</html>