<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='设备详情页',active='physicinternetEquipment'">
<header th:replace="admin/header::headerFragment(${title},${active})">
</header>
<body class="fixed-left">
<div id="wrapper">
    <div th:replace="admin/header::header-body"></div>
    <div class="content-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">硬件详情</h4>
                    </div>
                    <div class="col-md-12" style="overflow: auto">
                        <form class="form-horizontal" role="form" id="global-form">
                            <div class="col-md-4">
                                <div class="panel panel-color panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">网络设备信息</h3>
                                    </div>
                                    <div class="panel-body">

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">网络设备基本信息</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="id" placeholder="ID"
                                                       th:value="${internetEquipment.id}" required="required"
                                                       aria-required="true"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">网络设备名</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="name" placeholder="网络设备名"
                                                       th:value="${internetEquipment.name}" required="required"
                                                       aria-required="true"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">设备角色</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="role" placeholder="设备角色"
                                                       th:value="${internetEquipment.role}" required="required"
                                                       aria-required="true"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">管理IP</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="mgmtIp" placeholder="管理IP"
                                                       th:value="${internetEquipment.mgmtIp}" required="required"
                                                       aria-required="true"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">资产状态</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="assetStatus" placeholder="资产状态"
                                                       th:value="${internetEquipment.assetStatus}" required="required"
                                                       aria-required="true"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">描述</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="description"
                                                       placeholder="描述"
                                                       th:value="${internetEquipment.description}" required="required"
                                                       aria-required="true"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">地区</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="city" placeholder="地区"
                                                       th:value="${internetEquipment.city}" required="required"
                                                       aria-required="true"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">地点</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="area" placeholder="地点"
                                                       th:value="${internetEquipment.area}" required="required"
                                                       aria-required="true"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">位置</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="position" placeholder="位置"
                                                       th:value="${internetEquipment.position}" required="required"
                                                       aria-required="true"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">高度</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="rackPosition" placeholder="高度"
                                                       th:value="${internetEquipment.rackPosition}" required="required"
                                                       aria-required="true"/>
                                            </div>
                                        </div>

                                        <div class="clearfix pull-left">
                                            <a class="btn btn-default" th:href="@{/admin/iEquipment}" role="button">网络设备列表</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="panel panel-color panel-inverse">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">详细参数-1</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">品牌</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="brand"
                                                       th:value="${internetEquipment.brand}"
                                                       placeholder="品牌"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label sr">型号</label>
                                            <div class="col-md-9">
                                                <input type="number" class="form-control" name="type"
                                                       th:value="${internetEquipment.type}"
                                                       placeholder="型号"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">系统版本</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="OSVersion"
                                                       th:value="${internetEquipment.OSVersion}"
                                                       placeholder="系统版本"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">CPU主频</label>
                                            <div class="col-md-9">
                                                <input type="number" class="form-control" name="CPUFrequency"
                                                       th:value="${internetEquipment.CPUFrequency}"
                                                       placeholder="CPU主频，不输入则不显示"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">内存容量</label>
                                            <div class="col-md-9">
                                                <input type="number" class="form-control" name="memory"
                                                       th:value="${internetEquipment.memory}"
                                                       placeholder="内存容量"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">序列号</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="serialNumber"
                                                       th:value="${internetEquipment.serialNumber}" placeholder="序列号"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">电源数目</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="powerSuppliesNumber"
                                                       th:value="${internetEquipment.powerSuppliesNumber}" placeholder="电源数目"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">风扇数目</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="风扇数目"
                                                       th:value="${internetEquipment.fanNumber}" placeholder="风扇数目"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">license期限</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="licenseTerm"
                                                       th:value="${internetEquipment.licenseTerm}" placeholder="license期限"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">是否监控</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="monitor"
                                                       th:value="${internetEquipment.monitor}" placeholder="是否监控"/>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="panel panel-color panel-inverse">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">详细参数-2</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">端口速率</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="portSpeed"
                                                       th:value="${internetEquipment.portSpeed}"
                                                       placeholder="端口速率"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">端口类型</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="portType"
                                                       th:value="${internetEquipment.portType}"
                                                       placeholder="端口类型"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label sr">端口数量</label>
                                            <div class="col-md-9">
                                                <input type="number" class="form-control" name="portNumber"
                                                       th:value="${internetEquipment.portNumber}"
                                                       placeholder="端口数量"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">上架日期</label>
                                            <div class="col-md-9">
                                                <input type="number" class="form-control" name="listDate"
                                                       th:value="${#dates.format(internetEquipment.listDate, 'yyyy-MM-dd')}" placeholder="上架日期"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">维保期限</label>
                                            <div class="col-md-9">
                                                <input type="number" class="form-control" name="warrantyPeriod"
                                                       th:value="${#dates.format(internetEquipment.warrantyPeriod, 'yyyy-MM-dd')}" placeholder="维保期限"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">制造商</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="manufacturer"
                                                       th:value="${internetEquipment.manufacturer}" placeholder="制造商"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">代理商</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="agent"
                                                       th:value="${internetEquipment.agent}" placeholder="代理商"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">维保厂商</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="maintenanceManufacturers"
                                                       th:value="${internetEquipment.maintenanceManufacturers}" placeholder="维保厂商"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">运维部门</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="OMDepartment"
                                                       th:value="${internetEquipment.OMDepartment}" placeholder="运维部门"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">运维管理员</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="administrator"
                                                       th:value="${internetEquipment.administrator}" placeholder="运维管理员"/>
                                            </div>
                                        </div>
                                        <div class="clearfix pull-right">
                                            <button type="button" class="btn btn-inverse waves-effect waves-light"
                                                    onclick="saveSetting()">
                                                保存设置
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="clearfix"></div>
                    </div>
                </div>
                <div th:replace="admin/footer :: footer-content"></div>
            </div>
        </div>
    </div>
</div>
<div th:replace="admin/footer :: footer"></div>

<script src="//cdn.bootcss.com/jquery-toggles/2.0.4/toggles.min.js"></script>
<script type="text/javascript">
    /*<![CDATA[*/
    var tale = new $.tale();

    /**
     * 保存全局设置
     */
    function saveSetting() {
        var param = $('#global-form').serialize();
        tale.post({
            url: '/admin/iEquipment/save',
            data: param,
            success: function (result) {
                if (result && result.code == 'success') {
                    tale.alertOk('设置保存成功');
                } else {
                    tale.alertError(result.msg || '设置保存失败');
                }
            }
        });
    }

    /**
     * 设置是否允许重新安装
     */
    function allow_reinstall(obj) {
        var this_ = $(obj);
        var on = this_.find('.toggle-on.active').length;
        var off = this_.find('.toggle-off.active').length;
        if (on == 1) {
            $('#allow_install').val(0);
        }
        if (off == 1) {
            $('#allow_install').val(1);
        }
    }

    /**
     * 系统备份
     * @param type
     */
    function backup(type) {
        var param = {
            bk_type: type,
            bk_path: $('#backup_dir').val()
        };
        tale.post({
            url: '/admin/setting/backup',
            data: param,
            success: function (result) {
                if (result && result.code == 'success') {
                    if (result.payload && result.payload.attach_path) {
                        swal('备份成功', '您的附件备份在 <mark>' + result.payload.attach_path + '</mark><br/><br/>' +
                            '主题备份存储在 <mark>' + result.payload.theme_path + '</mark>', 'success');
                        $('#backup_dir').val('');
                    }
                    if (result.payload.sql_path) {
                        window.location.href = '/upload/' + result.payload.sql_path;
                    }
                } else {
                    tale.alertError(result.msg || '备份失败');
                }
            }
        });
    }

    $('.allow-1').toggles({
        on: true,
        text: {
            on: '开启',
            off: '关闭'
        }
    });
    $('.allow-0').toggles({
        off: true,
        text: {
            on: '开启',
            off: '关闭'
        }
    });

</script>
</body>
</html>